body{
	margin: 5px;
	font:23px Arial, Helvetica, sans-serif;
}
.Logo {
	display: inline;
	clear: right;
}

.Logo img{
	margin-left:100px;
}

.Menu{
	display: inline;
	float: right;
	margin-right: 190px;
	padding-top: 80px; 

}
a{
	color: #A3A2B3;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}